{% extends 'codeapp/base.html' %}
{% load static %}

{% block header %}
  <header class="masthead" style="background-image: url('{% static 'codeapp/img/python.png' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
          	<p></p>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{ python.content }}</p>
      </div>
    </div>
  </div>
{% endblock %}