{% extends 'codeapp/base.html' %}
{% load static %}

{% block header %}
  <header class="masthead" style="background-image: url('{% static 'codeapp/img/python.png' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2 class="animate__animated animate__pulse"><img src="https://img.icons8.com/color/96/000000/python.png"/>{{ python.title }}</h2>
            <h4>{{ python.date }}</h4>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="{% url 'like_python' python.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-dark" name='python_id' value="{{ python.id }}">Like {{ total_likes }}
          </button>
        </form>
        <br>
        <p>{{ python.content|safe }}</p>
      </div>
    </div>
  </div>
{% endblock %}