{% extends 'codeapp/base.html' %}
{% load static %}

{% block content %}

    <ul class="nav sticky-top justify-content-center zwetop">
      <li class="nav-item">
        <h5 class="nav-link active" align="center">Code ThaKhin</h5>
        <p align="center"><img src="{% static 'codeapp/python.png' %}" width="10%"> Python Programming Basic
        </p>
      </li>

    </ul>


    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <br>
            {% if user.is_authenticated %}
              {% for python in pythons %}  
                <div class="alert alert-dark" role="alert">
                  <a href="{% url 'detail' python.id %}" class="a">{{ python.title }}</a>
                </div>
              {% endfor %}
            {% else %}
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <br><br>
                    <a class="btn btn-dark btn-lg btn-block" href="{% url 'register' %}">Create Account</a>  <br><br>
                    <a class="btn btn-dark btn-lg btn-block" href="{% url 'login' %}">Login Account</a><br><br>
                    <a class="btn btn-dark btn-lg btn-block" href="{% url 'about' %}">About Us</a>
                  </div>
                </div>
              </div>
            {% endif %}
            </div>
            
        </div>
    </div>

{% endblock %}